
<div class="container">
  <div class="row">
       <div class="col-md-4">
        <div class="card-body"></div>
        {{> beerpartial beer}}
      <p class="card-text">{{beer.first_brewed}}</p>
      <p class="card-text">{{beer.brewers_tips}}</p>
    </div>
  </div>
  </div>
</div>
 
